@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #888;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #bdd8c8;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
